<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTAM Admin Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="/dashboard-assets/css/style.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li style="margin-top:10px;">
                    <a href="#">
                        <span class="icon">
                            <img src="/dashboard-assets/imgs/Estam Uni logo.png" alt="ESTAM Logo"
                style="width:60px; height:auto; border-radius:50%; ">
                        </span>
                        <span class="title">ESTAM DASHBOARD</span>
                    </a>
                </li>

                <li>
                    <a href="/admin-dashboard">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="/admin-dashboard/students">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Students</span>
                    </a>
                </li>

                <li>
                    <a href="/admin-dashboard/rejected-applications">
                        <span class="icon">
                            <ion-icon name='ban-outline'></ion-icon>
                        </span>
                        <span class="title">Rejects</span>
                    </a>
                </li>

                <li>
                    <a href="/admin-dashboard/admin-settings">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Change Password</span>
                    </a>
                </li>

                <li>
                    <a href="/admin-logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        {{#each admin}}
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                {{!-- <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div> --}}

                <div class="user">
                    <img src="/dashboard-assets/imgs/Estam Uni logo.png" alt="">
                </div>
            </div>

            <div class="topic">
                <h1>Change Password</h1>
            </div>

            {{!-- <div class="cardBox">
                <div class="card">
                    <img src="/uploads/applicants/{{photo_passport}}" width="200px" alt="">
                </div>
                
            </div> --}}
            
            

            <!-- ================ Order Details List ================= -->
            
            <div class="adminBox">
                {{!-- <div class="recentOrders"> --}}
                    {{!-- <div class="cardHeader">
                        <h2>Student's Information</h2>
                    </div> --}}
                <form action="/change-admin-password" method="post" onsubmit="return confirm('Are you sure you want to change your password')">
                    {{!-- <div class="application-details"> --}}
                        <div class="adminBox-each" >
                            <h3>Name </h3>
                            <p>{{name}}</p>
                        </div>

                        <div class="adminBox-each">
                            <h3>Email </h3>
                            <p>{{email}}</p>
                        </div>

                        <div class="adminBox-each">
                            <h3>Current Password </h3>
                            <input type="password" name="currentPassword" required>
                        </div>

                        <div class="adminBox-each">
                            <h3>New Password </h3>
                            <input type="password" name="newPassword" required>
                        </div>

                        <div class="adminBox-each">
                            <h3>New Password (Re-enter) </h3>
                            <input type="password" name="newPasswordRetype" required>
                        </div>
    {{/each}}
                        <div class="adminBox-each">
                            <button type="submit" class="status delivered" style="border:none;">Save Changes</button>
                        </div>

                        {{#if currentPasswordError}}
                        <div class="error-message" >
                            <p>{{currentPasswordError}}</p>
                        </div>
                        {{/if}}

                        {{#if newPasswordError}}
                        <div class="error-message" >
                            <p>{{newPasswordError}}</p>
                        </div>
                        {{/if}}

                        {{#if success}}
                        <div class="success-message">
                            <p>{{success}}</p>
                        </div>
                        {{/if}}
                        
                    </div>
                        
                </form>                     


            
        </div>
    </div>
    
    <!-- =========== Scripts =========  -->
    <script src="/dashboard-assets/js/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>