{{>header}}

<!--=====================================-->
<!--=       Breadcrumb Area Start      =-->
<!--=====================================-->

<div class="edu-breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title">Apply</h1>
            </div>
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">Admissions</li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">Apply</li>
            </ul>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1">
            <span></span>
        </li>
        <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
        <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
        <li class="shape-4">
            <span></span>
        </li>
        <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
    </ul>
</div>

<!--=====================================-->
<!--=       Contact Me Area Start       =-->
<!--=====================================-->



<section class="contact-us-area" style="margin-bottom: 200px;">
    <div class="container">
        <div class="row g-5 mb-5">
            <div class="col-lg-12">
                <div class="contact-us-info">
                    <h3 class="heading-title">ESTAM UNIVERSITY ONLINE APPLICATION</h3>
                    <div>
                        <h4>GENERAL ENTRY REQUIREMENTS</h4>
                        <p class=" data-sal-delay=" 150" data-sal="slide-up" data-sal-duration="800"">
                            To meet the admission criteria for the Ecole Superieure Des Technologies Avancees et de
                            Management degree programmes in Republic of Benin 🇧🇯 , applicants must fulfill the
                            following requirement:
                            All applicants must have obtained Credit-level passes in five relevant subjects at the
                            O'level.</p>
                            <p>Please note that the term " relevant subjects" refers to subjects that are directly
                            related to the chosen degree programme. The specific subjects considered relevant may vary
                            depending on the program of study. It is important for applicants to review the admission
                            requirements for their desired degree programme to determine the specific subjects
                            considered relevant.</p>
                        <p>By meeting this requirement and obtaining Credit-level passes in five relevant subjects
                            at the O'level, applicants will be eligible to apply for admission to the Ecole Superieure
                            Des Technologies Avancees et de Management degree programmes in Republic of Benin 🇧🇯.
                        </p>

                        <br>

                        <h4>DIRECT ENTRY REQUIREMENTS</h4>
                        <p class=" data-sal-delay=" 150" data-sal="slide-up" data-sal-duration="800" ">In addition to the O'level requirements stated above, the Ecole Superieure Des Technologies
                            Avancees et de Management also offers admission into 200 level undergraduate programs
                            through Direct Entry. Candidates who meet the following criteria are eligible for Direct
                            Entry admission:</p>

                         <ul class=" features-list" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                            <li>A/L Passes: Candidates must have passes in the required subjects at the Advanced Level
                                or
                                its equivalent.</li>

                            <li>National Diploma (ND): Candidates with a National Diploma from a recognized institution
                                are eligible for Direct Entry admission into relevant undergraduate programs.</li>

                            <li>Higher National Diploma (HND): Candidates with a Higher National Diploma from a
                                recognized institution can also apply for Direct Entry admission into relevant
                                undergraduate
                                programs.</li>

                            <li>National Certificate of Education (NCE): Candidates who possess a National Certificate
                                of
                                Education from a recognized institution are eligible for Direct Entry admission into
                                relevant undergraduate programs.</li>
                            </ul>
                        <p>
                        <p class="data-sal-delay=" 150" data-sal="slide-up" data-sal-duration="800" ">By fulfilling any of these additional requirements, candidates can apply for Direct Entry
                            admission into the Ecole Superieure Des Technologies Avancees et de Management. It is
                            important to note that specific subject requirements and grade criteria may vary depending
                            on the chosen program of study. Therefore, applicants should refer to the university's
                            official admission guidelines for detailed information regarding the Direct Entry
                            requirements for their desired program.
                            </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class=" row g-5">
                        <div class="col-md-8 offset-md-2">
                            <div class="contact-form form-style-2">
                                <div class="section-title">
                                    <h4 class="title">DEGREE PROGRAM APPLICATION</h4>
                                    <p>Please complete the form carefully and accurately as all the provided information
                                        will be
                                        verified.</p>
                                </div>
                                <form class="rnt-contact-form rwt-dynamic-form" action="submit-apply" id="apply-form"
                                    method="POST" enctype="multipart/form-data">
                                    <div class="row row--10">
                                        <div class="form-section" id="additional-info-section">
                                            <legend>Personal Information</legend>
                                            <div class="form-group col-12">
                                                <input type="text" name="first_name" id="first_name"
                                                    placeholder="Legal First Name">
                                            </div>
                                            <div class="form-group col-12">
                                                <input type="text" name="middle_name" id="middle_name"
                                                    placeholder="Legal Middle Name (Optional)">
                                            </div>
                                            <div class="form-group col-12">
                                                <input type="text" name="last_name" id="last_name"
                                                    placeholder="Legal Last Name">
                                            </div>
                                            <div class="form-group col-12">
                                                <label for="gender" class="my-4">Gender</label>
                                                <select name="gender" id="gender">
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-12">
                                                <label for="dob" class="my-4">Date of Birth</label>
                                                <input type="date" name="dob" id="dob"
                                                    style="border: 0; border-bottom: 1px solid #cecece; color: #7e7b7b;">
                                            </div>
                                            <div class="form-group col-12">
                                                <input type="email" name="email" id="email"
                                                    placeholder="Your Email Address">
                                            </div>
                                            <div class="form-group col-12">
                                                <input type="tel" name="phone" id="phone"
                                                    placeholder="Your Phone Number">
                                            </div>
                                            <div class="form-group col-12">
                                                <label for="nationality" class="my-4">Nationality</label>
                                                <select name="nationality" id="nationality">
                                                    <option value="">Select an option</option>
                                                    {{#each nationality}}
                                                    <option value="{{name}}">{{name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="form-group col-12">
                                                <input type="text" name="address" id="address"
                                                    placeholder="Residential Address with Street No.">
                                            </div>

                                            <div class="form-group col-lg-6">
                                                <input type="text" name="city" id="city"
                                                    placeholder="City of Residence">
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="form-group col-lg-6">
                                                        <label for="country" class="my-4">Country</label>
                                                        <select id="countrySelect" name="country">
                                                            <option value="">Select an option</option>
                                                            {{#each countries}}
                                                            <option value="{{name}}" id="{{id}}">{{name}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                        <label for="state" class="my-4">State</label>
                                                        <select name="state" id="stateSelect">
                                                            <option value="">Select an option</option>
                                                            {{#each states}}
                                                            <option value="{{name}}">{{name}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="form-group col-lg-6 d-flex justify-content-between align-items-center">
                                                <button class="edu-btn btn-medium next-btn" type="button">Next</button>
                                            </div>
                                        </div>
                                        <div class="form-section" id="kin-details-section">
                                            <legend>Next of Kin Details</legend>
                                            <div class="form-group col-12">
                                                <div class="form-group col-12">
                                                    <input type="text" name="nok_name" id="nok_name"
                                                        placeholder="Full Name">
                                                </div>
                                                <div class="form-group col-12">
                                                    <input type="text" name="nok_address" id="nok_address"
                                                        placeholder="Residential Street Address">
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <input type="text" name="nok_city" id="nok_city"
                                                        placeholder="City of Residence">
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="form-group col-lg-6">
                                                            <label for="nok_country" class="my-4">Country</label>
                                                            <select name="nok_country" id="nok_country">
                                                                <option value="">Select an option</option>
                                                                {{#each nok_country}}
                                                                <option value="{{name}}" id="{{id}}">{{name}}</option>
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-lg-6">
                                                            <label for="nok_state" class="my-4">State</label>
                                                            <select name="nok_state" id="nok_state">
                                                                <option value="">Select an option</option>
                                                                {{#each nok_states}}
                                                                <option value="{{name}}">{{name}}</option>
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group col-12">
                                                    <input type="email" name="nok_email" id="nok_email"
                                                        placeholder="Email Address">
                                                </div>
                                                <div class="form-group col-12">
                                                    <input type="text" name="nok_relationship" id="nok_relationship"
                                                        placeholder="Relationship">
                                                </div>
                                            </div>
                                            <div
                                                class="form-group col-lg-6 d-flex justify-content-between align-items-center">
                                                <button class="edu-btn btn-medium prev-btn"
                                                    type="button">Previous</button>
                                                <button class="edu-btn btn-medium next-btn" type="button">Next</button>
                                            </div>
                                        </div>

                                        <div class="form-section" id="education-section">
                                            <legend>Educational Background</legend>

                                            <div class="form-group col-12">
                                                <input type="text" name="primary_name" id="primary_name"
                                                    placeholder="Primay School Name">
                                            </div>
                                            <div class="form-group col-12">
                                                <input type="text" name="secondary_name" id="secondary_name"
                                                    placeholder="Secondary/High School Name">
                                            </div>
                                            <div class="form-group col-12">
                                                <input type="text" name="additional_school" id="additional_school"
                                                    placeholder="Additional School (Optional)">
                                            </div>
                                            <div
                                                class="form-group col-lg-6 d-flex justify-content-between align-items-center">
                                                <button class="edu-btn btn-medium prev-btn"
                                                    type="button">Previous</button>
                                                <button class="edu-btn btn-medium next-btn" type="button">Next</button>
                                            </div>
                                        </div>

                                        <div class="form-section" id="program-info-section">
                                            <legend>Program Information</legend>
                                            <div class="form-group col-12">
                                                <label for="course" class="mb-4">Course of Study:</label>
                                                <select id="course" name="course">
                                                    <option value="">Select an option</option>
                                                    {{#each courses}}
                                                    <option value="{{course_name}}">{{course_name}}</option>
                                                    {{/each }}
                                                </select>
                                            </div>
                                            <div class="form-group col-12">
                                                <label for="application_type" class="my-4">Application Type:</label>
                                                <select name="application_type" id="application_type">
                                                    <option value="">Select an option</option>
                                                    <option value="New Student">New Student (100 Level)</option>
                                                    <option value="Direct Entry">Direct Entry (200 Level)</option>
                                                    <option value="Transfer Student">Transfer Student</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-12">
                                                <label for="degree" class="my-4">If Transfer Student, What
                                                    Level?</label>
                                                <select name="transfer_level" id="transfer_level">
                                                   <option value="">Select an option</option>
                                                    <option value="100L">100 LEVEL</option>
                                                    <option value="200L">200 LEVEL</option>
                                                    <option value="300L">300 LEVEL</option>
                                                </select>
                                            </div>
                                             <div class="form-group col-12">
                                                <input type="text" name="start_date" id="start_date"
                                                    placeholder="Intended Start Date">
                                            </div>
                                            <div
                                                class="form-group col-lg-6 d-flex justify-content-between align-items-center">
                                                <button class="edu-btn btn-medium prev-btn"
                                                    type="button">Previous</button>
                                                <button class="edu-btn btn-medium next-btn" type="button">Next</button>
                                            </div>
                                        </div>
                                        <div class="form-section" id="credentials-section">
                                            <legend>Upload Credentials:</legend>
                                            <div class="form-group col-12">
                                                <label for="ssce_certificate">SECONDARY SCHOOL LEARNING
                                                    CERTIFICATE(WEAC/NECO/GCE..)</label>
                                                <input type="file" id="ssce_certificate" name="ssce_certificate"
                                                    accept=".pdf,.doc,.docx,.png,.jpg,.jpeg">
                                            </div>
                                            <div class="form-group col-12">
                                                <label for="birth_certificate">BIRTH CERTIFICATE/AGE DECLARATION</label>
                                                <input type="file" id="birth_certificate" name="birth_certificate"
                                                    accept=".pdf,.doc,.docx,.png,.jpg,.jpeg">
                                            </div>
                                            <div class="form-group col-12">
                                                <label for="photo_passport">PASSPORT PHOTOGRAPH</label>
                                                <input type="file" id="photo_passport" name="photo_passport"
                                                    accept=".pdf,.doc,.docx,.png,.jpg,.jpeg">
                                            </div>
                                            <div class="form-group col-12">
                                                <label for="passport">INTERNATIONAL PASSPORT (Not mandatory for the admission process)</label>
                                                <input type="file" id="passport" name="passport"
                                                    accept=".pdf,.doc,.docx,.png,.jpg,.jpeg">
                                            </div>
                                            <div
                                                class="form-group col-lg-6 d-flex justify-content-between align-items-center">
                                                <button class="edu-btn btn-medium prev-btn"
                                                    type="button">Previous</button>
                                                <button class="edu-btn btn-medium next-btn" type="button">Next</button>
                                            </div>
                                        </div>
                                        <div class="form-section" id="additional-info-section">
                                            <legend>Additional Information <br></legend>
                                            <div class="form-group col-12">
                                                <textarea name="hobbies_interest" id="hobbies_interest" cols="30"
                                                    rows="3"
                                                    placeholder="Extracurricular Activities, Hobbies or Interests"></textarea>
                                            </div>
                                            <label for="referrer" class="my-4">How did you find us?</label>
                                            <select name="referrer" id="referrer">
                                                <option value="">Select an option</option>
                                                <option value="Google Search">Google Search</option>
                                                <option value="Twitter">Twitter</option>
                                                <option value="Instagram">Instagram</option>
                                                <option value="LinkedIn">LinkedIn</option>
                                                <option value="Facebook">Facebook</option>
                                                <option value="Tiktok">TikTok</option>
                                                <option value="Through A Friend">Through a Friend</option>
                                                <option value="Through Our Staff">Through Our Staff</option>
                                                <option value="Website">Website</option>
                                                <option value="Others">Others</option>
                                            </select>
                                            <div
                                                class="form-group col-lg-6 d-flex justify-content-between align-items-center">
                                                <button class="edu-btn btn-medium prev-btn"
                                                    type="button">Previous</button>
                                                <button class="edu-btn btn-medium submit-btn"
                                                    type="submit">Submit</button>
                                            </div>
                                        </div>


                                        <style>
                                            form legend {
                                                color: #000a38;
                                                font-weight: 500;
                                                font-size: 18px;
                                                margin-top: 15px;
                                                margin-bottom: 10px;
                                            }
                                        </style>

                                        <ul class="shape-group">
                                            <li class="shape-1 scene"><img data-depth="1"
                                                    src="assets/images/about/shape-13.png" alt="Shape"></li>
                                            <li class="shape-2 scene"><img data-depth="1"
                                                    src="assets/images/about/shape-14.png" alt="Shape"></li>
                                            <li class="shape-3 scene"><img data-depth="1"
                                                    src="assets/images/about/shape-15.png" alt="Shape"></li>
                                            <li class="shape-4 scene"><img data-depth="1"
                                                    src="assets/images/about/shape-16.png" alt="Shape"></li>
                                        </ul>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
</section>


<script src="assets/js/formhandler.js"></script>
<script src="assets/js/applyform.js"></script>