{{> header}}

    <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">{{title}}</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">Courses</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=     Courses Details Area Start    =-->
        <!--=====================================-->
        <section class="edu-section-gap course-details-area">
            <div class="container ">
                {{!-- <div class="row row--30"> --}}
                    {{!-- <div class="col-lg-8"> --}}
                        <div class="course-details-content">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">Overview</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="carriculam-tab" data-bs-toggle="tab" data-bs-target="#carriculam" type="button" role="tab" aria-controls="carriculam" aria-selected="false">Requirement</button>
                                </li>
                                {{!-- <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="instructor-tab" data-bs-toggle="tab" data-bs-target="#instructor" type="button" role="tab" aria-controls="instructor" aria-selected="false">Instructor</button>
                                </li> --}}
                                {{!-- <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">Reviews</button>
                                </li> --}}
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                    <div class="course-tab-content">
                                        <div class="course-overview">
                                            <h3 class="heading-title">Course Description</h3>
                                            <p>{{description1}}</p>
                                            <p class="mb--60">{{description2}}</p>
                                            <h5 class="title">Program Highlights:</h5>
                                            <ul class="mb--60">
                                                <li>{{highlight1}}</li>
                                                <li>{{highlight2}}</li>
                                                <li>{{highlight3}}</li>
                                            </ul>
                                            <p>{{conclusion}}</p>
                                            <a href="/apply" class="edu-btn btn-large">Apply Now<i class="icon-4"></i></a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="carriculam" role="tabpanel" aria-labelledby="carriculam-tab">
                                    <div class="course-tab-content">
                                        <div class="course-curriculam">
                                            <h3 class="heading-title">Course Requirements</h3>
                                            {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inc idid unt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exerec tation ullamco laboris nis aliquip commodo consequat.</p> --}}
                                            <div class="course-lesson">
                                                <h5 class="title">General Entry Requirements</h5>
                                                {{!-- <p>Advanced story telling techniques for writers: Personas, Characters & Plots</p> --}}
                                                <ul>
                                                    <li>
                                                        <div class="text"><i class="icon-20"></i>Completed application form, including personal essays.</div>
                                                    </li>
                                                    <li>
                                                        <div class="text"><i class="icon-20"></i>Applicants are required to have already achieved five (5) credits IN NOT MORE THAN TWO SITTINGS, in the relevant subjects according to their field of proposed study.</div>
                                                    </li>
                                                    <li>
                                                        <div class="text"><i class="icon-20"></i>Certified copy of Birth Certificate</div>
                                                    </li>
                                                    <li>
                                                        <div class="text"><i class="icon-20"></i>4 passport - sized photographs</div>
                                                    </li>
                                                    <li>
                                                        <div class="text"><i class="icon-20"></i>Testimonial of secondary school (for Bachelor's programs)</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="course-lesson">
                                                <h5 class="title">Direct Entry Requirements</h5>
                                                <ul>
                                                    <li>
                                                        <div class="text"> In addition to the O'level requirements stated above, the university admits into 200 level undergraduates programmes via Direct Entry for candidates with A Level passes at its equivalents in the required subjects, or National Diploma (ND), Higher National Diploma (HND), and National Certificate of Education (NCE)</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a href="/apply" class="edu-btn btn-large">Apply Now<i class="icon-4"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
                                    <div class="course-tab-content">
                                        <div class="course-instructor">
                                            <div class="thumbnail">
                                                <img src="assets/images/course/author-01.png" alt="Author Images">
                                            </div>
                                            <div class="author-content">
                                                <h6 class="title">Edward Norton</h6>
                                                <span class="subtitle">Founder & CEO</span>
                                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua enim minim veniam quis nostrud exercitation ulla mco laboris nisi ut aliquip ex ea commodo consequat. duis aute irure dolor in reprehenderit in voluptate.</p>
                                                {{!-- <ul class="social-share">
                                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                                    <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                                    <li><a href="#"><i class="icon-youtube"></i></a></li>
                                                </ul> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{!-- <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                                    <div class="course-tab-content">
                                        <div class="course-review">
                                            <h3 class="heading-title">Course Rating</h3>
                                            <p>5.00 average rating based on 7 rating</p>
                                            <div class="row g-0 align-items-center">
                                                <div class="col-sm-4">
                                                    <div class="rating-box">
                                                        <div class="rating-number">5.0</div>
                                                        <div class="rating">
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                            <i class="icon-23"></i>
                                                        </div>
                                                        <span>(7 Review)</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="review-wrapper">

                                                        <div class="single-progress-bar">
                                                            <div class="rating-text">
                                                                5 <i class="icon-23"></i>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <span class="rating-value">7</span>
                                                        </div>

                                                        <div class="single-progress-bar">
                                                            <div class="rating-text">
                                                                4 <i class="icon-23"></i>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <span class="rating-value">0</span>
                                                        </div>

                                                        <div class="single-progress-bar">
                                                            <div class="rating-text">
                                                                4 <i class="icon-23"></i>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <span class="rating-value">0</span>
                                                        </div>

                                                        <div class="single-progress-bar">
                                                            <div class="rating-text">
                                                                4 <i class="icon-23"></i>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <span class="rating-value">0</span>
                                                        </div>

                                                        <div class="single-progress-bar">
                                                            <div class="rating-text">
                                                                4 <i class="icon-23"></i>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <span class="rating-value">0</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Start Comment Area  -->
                                            <div class="comment-area">
                                                <h3 class="heading-title">Reviews</h3>
                                                <div class="comment-list-wrapper">
                                                    <!-- Start Single Comment  -->
                                                    <div class="comment">
                                                        <div class="thumbnail">
                                                            <img src="assets/images/blog/comment-01.jpg" alt="Comment Images">
                                                        </div>
                                                        <div class="comment-content">
                                                            <div class="rating">
                                                                <i class="icon-23"></i>
                                                                <i class="icon-23"></i>
                                                                <i class="icon-23"></i>
                                                                <i class="icon-23"></i>
                                                                <i class="icon-23"></i>
                                                            </div>
                                                            <h5 class="title">Haley Bennet</h5>
                                                            <span class="date">Oct 10, 2021</span>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                        </div>
                                                    </div>
                                                    <!-- End Single Comment  -->
                                                    <!-- Start Single Comment  -->
                                                    <div class="comment">
                                                        <div class="thumbnail">
                                                            <img src="assets/images/blog/comment-02.jpg" alt="Comment Images">
                                                        </div>
                                                        <div class="comment-content">
                                                            <div class="rating">
                                                                <i class="icon-23"></i>
                                                                <i class="icon-23"></i>
                                                                <i class="icon-23"></i>
                                                                <i class="icon-23"></i>
                                                                <i class="icon-23"></i>
                                                            </div>
                                                            <h5 class="title">Simon Baker</h5>
                                                            <span class="date">Oct 10, 2021</span>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                        </div>
                                                    </div>
                                                    <!-- End Single Comment  -->
                                                    <!-- Start Single Comment  -->
                                                    <div class="comment">
                                                        <div class="thumbnail">
                                                            <img src="assets/images/blog/comment-03.jpg" alt="Comment Images">
                                                        </div>
                                                        <div class="comment-content">
                                                            <div class="rating">
                                                                <i class="icon-23"></i>
                                                                <i class="icon-23"></i>
                                                                <i class="icon-23"></i>
                                                                <i class="icon-23"></i>
                                                                <i class="icon-23"></i>
                                                            </div>
                                                            <h6 class="title">Richard Gere</h6>
                                                            <span class="date">Oct 10, 2021</span>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                        </div>
                                                    </div>
                                                    <!-- End Single Comment  -->
                                                </div>
                                            </div>
                                            <!-- End Comment Area  -->
                                            <div class="comment-form-area">
                                                <h3 class="heading-title">Write a Review</h3>
                                                <div class="rating-icon">
                                                    <h6 class="title">Rating Here</h6>
                                                    <div class="rating">
                                                        <i class="icon-23"></i>
                                                        <i class="icon-23"></i>
                                                        <i class="icon-23"></i>
                                                        <i class="icon-23"></i>
                                                        <i class="icon-23"></i>
                                                    </div>
                                                </div>
                                                <form class="comment-form">
                                                    <div class="row g-5">
                                                        <div class="form-group col-lg-6">
                                                            <input type="text" name="comm-title" id="comm-title" placeholder="Review Title">
                                                        </div>
                                                        <div class="form-group col-lg-6">
                                                            <input type="text" name="comm-name" id="comm-name" placeholder="Reviewer name">
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <input type="email" name="comm-email" id="comm-email" placeholder="Reviewer email">
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <textarea name="comm-message" id="comm-message" cols="30" rows="5" placeholder="Review summary"></textarea>
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <button type="submit" class="edu-btn submit-btn">Submit Review <i class="icon-4"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div> --}}
                            </div>
                        </div>
                    {{!-- </div> --}}
                    {{!-- <div class="col-lg-4">
                        <div class="course-sidebar-3 sidebar-top-position">
                            <div class="edu-course-widget widget-course-summery">
                                <div class="inner">
                                    <div class="thumbnail">
                                        <img src="assets/images/course/course-46.jpg" alt="Courses">
                                        <a href="https://www.youtube.com/watch?v=PICj5tr9hcc" class="play-btn video-popup-activation"><i class="icon-18"></i></a>
                                    </div>
                                    <div class="content">
                                        <h4 class="widget-title">Course Includes:</h4>
                                        <ul class="course-item">
                                            <li>
                                                <span class="label"><i class="icon-60"></i>Price:</span>
                                                <span class="value price">$70.00</span>
                                            </li>
                                            <li>
                                                <span class="label"><i class="icon-62"></i>Instrutor:</span>
                                                <span class="value">Edward Norton</span>
                                            </li>
                                            <li>
                                                <span class="label"><i class="icon-61"></i>Duration:</span>
                                                <span class="value">3 weeks</span>
                                            </li>
                                            <li>
                                                <span class="label">
                                                    <img class="svgInject" src="assets/images/svg-icons/books.svg" alt="book icon">
                                                    Lessons:</span>
                                                <span class="value">8</span>
                                            </li>
                                            <li>
                                                <span class="label"><i class="icon-63"></i>Enrolled:</span>
                                                <span class="value">65 students</span>
                                            </li>
                                            <li>
                                                <span class="label"><i class="icon-59"></i>Language:</span>
                                                <span class="value">English</span>
                                            </li>
                                            <li>
                                                <span class="label"><i class="icon-64"></i>Certificate:</span>
                                                <span class="value">Yes</span>
                                            </li>
                                        </ul>
                                        <div class="read-more-btn">
                                            <a href="#" class="edu-btn">Start Now <i class="icon-4"></i></a>
                                        </div>
                                        <div class="share-area">
                                            <h4 class="title">Share On:</h4>
                                            <ul class="social-share">
                                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                                <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                                <li><a href="#"><i class="icon-youtube"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> --}}
                {{!-- </div> --}}
            </div>
        </section>
        <!--=====================================-->
        <!--=     More Courses Area Start    =-->
        <!--=====================================-->
        <!-- Start Course Area  -->
        {{!-- <div class="gap-bottom-equal">
            <div class="container">

                
                <div class="section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                    <h3 class="title">More Courses for You</h3>
                </div>


                <div class="row g-5">
                    <!-- Start Single Course  -->
                    <div class="col-12 col-xl-4 col-lg-6 col-md-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-course course-style-5 inline" data-tipped-options="inline: 'inline-tooltip-1'">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="course-details.html">
                                        <img src="assets/images/course/course-15.jpg" alt="Course Meta">
                                    </a>
                                </div>
                                <div class="content">
                                    <span class="course-level">Faculty of Social and Mangement Science</span>
                                    <h5 class="title">
                                        <a href="course-details.html">Healthy Sushi Roll - Japanese Popular Cooking Class</a>
                                    </h5>
                                    <a href="/business-administration" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->

                    <!-- Start Single Course  -->
                    <div class="col-12 col-xl-4 col-lg-6 col-md-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-course course-style-5 inline" data-tipped-options="inline: 'inline-tooltip-1'">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="course-details.html">
                                        <img src="assets/images/course/course-15.jpg" alt="Course Meta">
                                    </a>
                                </div>
                                <div class="content">
                                    <span class="course-level">Faculty of Social and Mangement Science</span>
                                    <h5 class="title">
                                        <a href="course-details.html">Healthy Sushi Roll - Japanese Popular Cooking Class</a>
                                    </h5>
                                    <a href="/business-administration" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->

                    <!-- Start Single Course  -->
                    <div class="col-12 col-xl-4 col-lg-6 col-md-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-course course-style-5 inline" data-tipped-options="inline: 'inline-tooltip-1'">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="course-details.html">
                                        <img src="assets/images/course/course-15.jpg" alt="Course Meta">
                                    </a>
                                </div>
                                <div class="content">
                                    <span class="course-level">Cooking</span>
                                    <h5 class="title">
                                        <a href="course-details.html">Healthy Sushi Roll - Japanese Popular Cooking Class</a>
                                    </h5>
                                    <a href="/business-administration" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                </div>
            </div>
        </div> --}}
        <!-- End Course Area -->
 